*,
::before,
::after {
  box-sizing: border-box;
}


html {
  font-size: 62.5%; /* 10px */
  min-height: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: radial-gradient(ellipse at center, #579c3b 41%,#579c3b 41%,#527b42 100%) no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 1.4rem;
  min-height: 100%;
}

button {
  margin: 0 1em;
  padding: 1em 2em;
}

table {
  border: none;
  border-collapse: collapse;
}

td,
th {
  border: none;
}

th {
  font-weight: 400;
}


main {
  overflow: hidden;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.message {
  color: #fff;
  font-size: 3rem;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 200px;
}

.dice {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 5em;
  height: 100vh;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 5vw;
  width: 100vw;
}

.die {
  background: #ddd url(./assets/dice.svg) no-repeat;
  background-size: 100% auto;
  border-radius: 0.1em;
  box-shadow:
    0.05em 0.05em 0.05em rgba(0,0,0,0.2),
    0.1em 0.1em 0.05em rgba(0,0,0,0.2),
    0.15em 0.15em 0.05em rgba(0,0,0,0.2),
    -0.05em -0.05em 0.05em rgba(0,0,0,0.3) inset,
    0.05em 0.05em 0.05em rgba(255,255,255,0.3) inset;
  color: #444;
  height: 1em;
  line-height: 1em;
  margin: 0.3em;
  position: relative;
  text-indent: 110%;
  transition:
    filter ease 0.2s,
    transform ease 0.2s;
  white-space: nowrap;
  width: 1em;
}

.die[data-value="1"] { background-position: 0 0; }
.die[data-value="2"] { background-position: 0 -1em; }
.die[data-value="3"] { background-position: 0 -2em; }
.die[data-value="4"] { background-position: 0 -3em; }
.die[data-value="5"] { background-position: 0 -4em; }
.die[data-value="6"] { background-position: 0 -5em; }

.die.is-selected {
  filter: contrast(0.6) brightness(1.1) sepia(0.6);
  transform:
    scale(0.9);
}

/* .die::before {
  border-radius: 0.1em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.3) inset;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(1.2);
  transition: opacity ease 0.2s;
  width: 100%;
  z-index: -1;
}

.die.is-selected::before {
  opacity: 1;
} */

.controls {
  bottom: 30px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
}

.players {
  left: 0;
  position: absolute;
  top: 0;
}

.player.is-active {
  color: #ff0;
}

.scores {
  /* background: rgba(255, 255, 255, 0.5); */
  bottom: 0;
  display: flex;
  left: 0;
  overflow: auto;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(100%,0,0);
  transition: transform ease 0.3s;
  z-index: 1;
}

.scores.is-visible {
  transform: translate3d(0, 0, 0);
}

.scores.is-active {
  transform: translate3d(0,0,0);
}

.score-sheet {
  align-self: center;
  background: rgba(255, 255, 255, 0.95);
  color: #666;
  overflow: hidden;
  margin: 0 auto;
  max-width: 500px;
  min-width: 375px;
  pointer-events: all;
  position: relative;
  width: 100%;
  z-index: 0;
}

.score-sheet td,
.score-sheet th {
  padding: 0.5em 1em;
}

.score-heading-col {
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

.score-heading-col::after,
.score-total::after {
  content: '';
}

.score-heading-col::after,
.score-total::after,
.temp-score {
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 100%;
  padding: 0.5em 1em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 0;
  transition:
    background 0.4s,
    transform ease-in-out 0.4s;
  width: 100%;
  z-index: -1;
}

.score-heading-col.is-active {
  color: #000;
  position: relative;
}

.score-heading-col.is-active::after,
.score-total.is-active::after,
.score-item.is-active .temp-score {
  transform: scale3d(1, 1, 1);
  transform-origin: 0 0;
}

.can-score .score-heading-col.is-active::after,
.can-score .score-total.is-active::after,
.can-score .score-item.can-score.is-active .temp-score {
  /*background: rgba(135, 203, 16, 0.7);*/
  background: hsla(47, 65%, 53%, 0.7);
}

.score-heading-row {
  position: relative;
  text-align: right;
  white-space: nowrap;
}

.score-item {
  color: #000;
  position: relative;
  text-align: center;
}

.score-row:hover {
  background: rgba(0, 0, 0, 0.1);
}

.can-score .score-row:hover {
  background: hsla(50, 170%, 30%, 0.2);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
